body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #a7f6b4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5% 5% 5% 5%;
}

h1 {
    color: #333;
}

#weather-info {
    margin-top: 20px;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15%;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15%;
}

button:hover {
    background-color: #2980b9;
}

#current-weather,
#forecast {
    margin-top: 20px;
}

